*{
    font-family:Helvetica;
}
.lewy{
    background-color: Navy;
    color: white;
    height: 700px;
    width: 25%;
    float: left;
}
.a{
    background-color: RoyalBlue;
    height:  100px;
    width: 75%;
    float: left;
    text-align: center;
    color: black;
}
.b{
    background-color: SteelBlue;
    height:  300px;
    width: 75%;
    float: left;
}
.c{
    background-color: RoyalBlue;
    height:  300px;
    width: 75%;
    text-align: center;
    float: left;
}
footer{
    background-color: SteelBlue;
    text-align: center;
   /* padding-bottom: 20px;*/
    height: 100%;
}
h1{
    letter-spacing: 5px;
}