body {
    background-color: #EEEEEE;
}
#Kontener {
    width: 1000px;
    margin: auto;
    text-align: center;
}
#logo,#menu,#stopka {
    background-color: #C0C0C0;
    height: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}
#logo {
    float: left;
    width: 400px;
}
#menu {
    float: left;
    width: 600px;
}
#baner {
    float: left;
    background-color: #DDDDDD;
    height: 200px;
}
#główny {
    margin: 50px;
    clear: both;
}
#stopka {
   text-align: right;
   height: 50px;
}
a {
    color: #555555;
    margin: 50px;
    font-size: 200%;
    text-decoration: none;
}
table {
    text-align: left;
}
hr {
    color: #C0C0C0;
    width: 70%;
    border-style: 2px;
} 
li {
    text-align: left;
}
#baner img {
    width: 100%;
    height: 200px;
}
textarea {
    vertical-align: top;
}
#wynik {
    text-align: center;
}