body{
    background: #99FFCC;
}
.kontener{
    width: 1000px;
    margin: auto;
    
}
.baner{
    background: #99FF66;
    height: 200px;
}
.menu{
    background: #66CCFF;
    text-align: center;
    padding: 20px 0px 20px 0px;
}
.kolumny{
  /* width: 310px;
   padding: 10px;
    /*float: left;*/
    
}
.kolumna1{
    float: left;
    width: 310px;
    padding: 10px;
    /*height: 80%;*/
}
.kolumna2{
    float: left;
    width: 310px;
    padding: 10px;
    /*height: 80%;*/

}
.kolumna3{
    float: left;
    width: 310px;
    padding: 10px;
   /* height: 80%;*/

}
footer{
    background: #66CCFF;
    color: #006666;
    text-align: right;
    height: 30px;
    padding: 20px; 
    float: left;
    width: 100%;
}
.odnosniki{
    color:#006666;
    margin: 50px;
   font-size: 200%;
   text-decoration: none;
}
h3{
 text-align: center;
}
h2{
    text-align: center;
}
.przycisk{
    background: #FF0000;

}
.przycisk2{
    background:  #00FF00;

} 