<head>
<meta charset="utf-8">
<title>oblicz miejsce zerowe funkcji </title>

</head>
<body>


        <p>Podaj a: </p><input type="a" class="a" >
        <p>Podaj b: </p><input type="b" class="b" >
        <input type="button" class="oblicz" onclick="oblicz()" value="oblicz">
        <div class="wynik"></div>




        <script type="text/javascript">
            function oblicz(){
                var a = document.querySelector(".a").value;
                var b = document.querySelector(".b").value;



                var wynik = parseFloat(-b)/parseFloat(a);
                document.querySelector(".wynik").innerHTML = "Wynik to:"+wynik;

            }

        </script>


</body>
