body{
    background: #EEEEEE;
}
.kontener{
    width: 1000px;
    margin: auto;
    text-align: center;
}
.menu{
    background: #C0C0C0;
    height: 100px;
    padding: 10px 10px;
    /*width: 600px;*/
    /*float: left;*/
    
    

}
.aa{
    
    color: #555555;
    /* margin: 50px; */
    padding: 0px 37px;
    display: in-b;
    font-size: 200%;
    text-decoration: none;
    /* color: blue; */
}
}
.footer{
    background: #C0C0C0;
    height: 100px;
    padding: 10px 10px;
    text-align: right;
    float: left;
    width: 100%;

}
.logo{
    background: #C0C0C0;
    height: 100px;
    padding: 10px 10px;
    width: 400px;
    float: left;

}
.baner{
    background:  #DDDDDD;
    height: 200px;
    float: left;
}
.glowny{
    margin: 50px;
    float: left;
    width: 100%;

}
.linia1{
    background: #C0C0C0;
    width: 70%;
    height: 2px;
    margin: auto;
}
table{
    text-align: left;
}