.baner{
    background-color: #E8C84E;
    height: 50px;
    font-size: 130%;
    text-align: center;

}
.lewy{
    float: left;
    background-color: #FFB544;
    height: 500px;
    width: 40%;
    font-size: 130%;

}
.srodkowy{
    height: 500px;
    width: 30%;
    text-align: center;
    float: left;
}
.prawy{
    float: right;
    background-color: #FFB544;
    height: 500px;
    width: 30%;
    font-size: 130%;
    text-align: center;

}
.stopka{
    float: left;
    background-color: #E8C84E;
    width: 100%;
    height: 50px;
    text-align: right;

}
.l1{
    background-color: #FFAA00;

}
.h3{
    margin-top: 30px;

}
.promo{
    height: 200px;
    margin-top: 32px;
}