.body{
    background-color: #EEEEEE;
}
.kontener{
    width: 1000px;
    margin: auto;
    text-align: center;
}
.menu{
    background-color: #C0C0C0;
    height: 100px;
    padding: 10px 10px;
    /*width: 600px;*/
    color: #555555;
    font-size: 200%;
    margin: auto;
}
.logo{
    background-color: #C0C0C0;
    height: 100px;
    padding: 10px 10px;
    width: 400px;
    float: left;
}
.baner{
    background-color: #DDDDDD;
    /*height: 200px;*/
}
hr{
    background-color: #C0C0C0;
    width: 70%;
    font-weight: 2px;
    height: 2px;
}
table{
    text-align: left;
}
.blok_glowny{
    margin: 50px;
    
}
.stopka{
    background-color: #C0C0C0;
    height: 100px;
    padding: 10px 10px;
    text-align: right;
    height: 20px;
}
.menu a {
    padding: inherit;
}