<body>
    <header id="header">
    <img class="logo" src="g104.png">
    </header>
    
            <div class="menu">
                <div class="container">
                    <div class="textmenu">
                    <a href="http://adres strony" style="
                        text-decoration: none;
                        
                        font-family: harrington;
                        ">Strona główna</a>
                    <a href="http://adres strony" style="
                        text-decoration: none;
                        
                        font-family: harrington;
                        ">O nas</a>
                    <a href="http://adres strony" style="
                        text-decoration: none;
                       
                        font-family: harrington;
                        ">Promocje</a>
                    <a href="http://adres strony" style="
                        text-decoration: none;
                       
                        font-family: harrington;
                        ">Reklamówki</a>
                    <a href="http://adres strony" style="
                        text-decoration: none;
                        font-family: harrington;">Mopy</a>
                    </div>
                    </div>
            </div>
         <div class="srodek">
        <div class="container">
    <div class="produkty">
                    <div class="obiekt1">
                    <img class="zdj" src="mop1.jpg">
                    mopopies 3001<br>cena: 120zł<br>
    
    
    
    
                    <br><button class="input" type="submit" name="tt">Dodaj do koszyka</button>
                    </div>
                
                     <div class="obiekt1">
                         xxx
                     </div>
                     <div class="obiekt1">
                         xxx
                     </div>
                     <div class="obiekt1">
                         xxx
                     </div>
    
    
    
    
            </div>
    </div>
            </div>
    <footer id="footer">
        <div class="container"> 
    copyright © 2019</div>
    </footer>
        
         
    </body>