body{
    font-family: Verdana;
}

.baner{
    background-color:  #4682B4;
    color: white;
    padding: 20px;
    font-size: 120%;
    text-align: center;

    }
.stopka{
background-color:  #4682B4;
color: white;
padding: 20px;
font-size: 120%;
text-align: center;


}
.lewy{
    background-color: #40E0D0;
    width: 40%;
    height: 500px;
    float: left;

}
.prawy{
    background-color: #40E0D0;
    width: 60%;
    height: 500px;
    float: left;
}
img{
    padding: 5px;
    margin: 10px ;
    border: 1px solid #000080 ;
}

 Dla znacznika obrazu: marginesy wewnętrzne 5 px, zewnętrzne 10 px, obramowanie 1 px, linią ciągłą
o kolorze #000080 