body {
    background-color: #99FFCC;
}
#kontener {
    width: 1000px;
    margin: auto;
}
#banera {
    background-color: #99FF66;
    height: 200px;
    text-align: center;
    float: left;
    width: 100%;
}
#menu {
    background-color: #66CCFF;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    width: 100%;
}
#kolumna_1,#kolumna_2,#kolumna_3 {
    height: 310px;
    padding: 10px;
    float: left;
}
#stopka {
   background-color: #66CCFF;
   color: #006666;
   text-align: right;
   height: 30px;
   padding: 20px;
   float: left;
   width: 100%;
}
h2,h3 {
    text-align: center;
}
.reset {
    background-color: #FF0000;
}
.send {
    background-color: #00FF00;
}
a {
    color: #006666;
    margin: 50px;
    font-size: 200%;
    text-decoration: none;
}
table {
    margin: auto;
}
button {
    margin: auto
}
img {
    width: 100%;
}