header 
{
    background-color: rgb(48,27,94);
    color: white;
    font-size: 120%;
    text-align: center;
    height: 80px;
}
.lewy 
{
    background-color: rgb(127,118,158);
    width: 25%;
    height: 500px;
    color: white;
}
.prawy 
{
    background-color: rgb(220,220,220);
    width: 75%;
    height: 500px;
    font-size: 110%;
}
footer 
{
    background-color: rgb(127,118,158);
    color: white;
    text-align: center;
    height: 80px;
}
.Tabela
{
    border: 1px solid black;

}
