body {
    font-family: Helvetica;
}
#lewy {
    background-color:  Navy;
    color: white;
    height: 700px;
    width: 25%;
    float: left; 
}
#prawy_1 {
    background-color: royalblue;
    height: 100px;
    width: 75%;
    text-align: center;
    float: left;
}
#prawy_2 {
    background-color: steelblue;
    height: 300px;
    width: 75%;
    float: left;
} 
#prawy_3 {
    background-color: royalblue;
    height: 300px;
    width: 75%;
    text-align: center;
    float: left;
}
#stopka {
    background-color: steelblue;
    text-align: center;
    padding: 20px;
    float: left;
    width: 100%;
}
h1 {
    letter-spacing: 5px;
}
#formularz:hover{
  margin: 30px;
  line-height: 3;
  background-color: deepskyblue;
}