head{

}
body{
    background-color: #99FFCC;

}
.kontener{
    width: 1000px;
    margin: auto;
}
.baner{
    background-color: #99FF66;
    height: 200px;
}
.Menu{
    background-color: #66CCFF;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.Menu a{
    font-family: Arial;
    padding: 20px 0px;
    color: #006666;
    font-size: 200%;
    margin: 50px;
    text-decoration: none;
}
.lewy{
    width: 310px;
    padding: 10px;
    float: left;
}
h1{
    text-align: center;
}
.srodek{
    width: 310px;
    padding: 10px;
    float: left;
}
.prawy{
    width: 310px;
    padding: 10px;
    float: right;
}
.stopka{
    background-color: #66CCFF;
    color: #006666;
    text-align: right;
    height: 30px;
    padding: 20px;
    clear: both;
}
