body {
    font-family: Georgia;
}
header {
    background: #824555;
    color: white;
    text-align: center;
    padding: 20px;
    float: left;
    width: 100%;
}
.góra_1,.góra_2 {
    background: #A26475;
    color: white;
    width: 30%;
    height: 300px;
    float: left;
}
.góra_3 {
    background: #A26475;
    color: white;
    width: 40%;
    height: 300px;
    text-align: right;
    float: left;
}
.panel_główny {
    background: #F0EAE2;
    padding: 50px;
    clear: both;
}
footer {
    background: #824555;
    text-align: center;
    padding: 20px;
    width: 100%;
}
.góra_2 table tr td {
    border: 2px solid #69293A;
    padding: 7px;
}    
.góra_2 table {
    border-collapse: collapse;
}
ul {
    list-style-type: square;
}