header {
    text-align: center;
    color: white;
    background-color: #63b03c;
    font-size: 300%;
    font-family: Arial;
}
.lewy {
    width: 20%;
    height: 500px;
    background-color: #63b03c;
    float: left;
    text-align: center;
    color: white;
}
.prawy {
    width: 80%;
    color: black;
    text-align: left;
    float: left;  
}
footer {
    background-color: #63b03c;
    text-align: center;
    float: left;
    width: 100%; 
    }
a { 
    color: white;
    display: block; 
}
li {
    list-style: square;
    text-align: left;
}
ul {
    text-align: center;
    margin-left: 33%;
}
.prawy span  img  {
    display: none;
}
.prawy span:hover img {
    display: inline;
}
.prawy span  {
    display: inline-block;
}