body{
    font-family: Arial;
   
}
.logo{
    background:rgb(162,117,87);
    width: 25%;
    height: 100px; 
    float: left;
}
.menu{
    background:rgb(162,117,87);
    width: 75%;
    height: 100px;
    text-align: right;
    float: left;
}
.banerstopka{
    background:rgb(74, 45, 32);
    /*margin: 30px;*/
    width: 100%;
    text-align: center;
    color: white;
    float: left;
}
.prawolewy{
    background:rgb(162,117,87);
    color: white;
    width: 50%;
    width: 100%;
    height: 500px;
    float: left;
  
}
h1{
    letter-spacing: 10px;
}
.odsylacze{
    color: rgb( 65, 98, 85);
    padding: 20px;
    font-size: 150%;
    line-height:100px;
    border-color:rgb(65, 98, 85);
    border-style: solid;
    
}
.przycisk{
    width: 100px;
    height: 20px;
 
}
.logo{
    float: right;
    
}