.naglowek{
    width: auto;
    height: 65px;
    background-color: #D2B48C;
    color: #FFE4E1;
    text-align: center;
}
.panelP{
    width: 15%;
    height: 800px;
    background-color: #FFE4E1;
    text-align: center;
    float: left;
}
.panelL{
    background-color:white ;
    height: 800px;
}
.button1{
   

}