#baner {
    background-color: #D47958;
    height: 50px;
}
#lewy {
    background-color: #AA593B;
    height: 450px;
    width: 40%;
    float: left;
}
#środkowy {
    background-color: #E5998B;
    height: 450px;
    width: 30%;
    float: left
}
#prawy {
    background-color: #AA593B;
    height: 450px;
    width: 30%;
    float: left;
}
#stopka {
    background-color: #D47958;
    height: 50px;
    text-align: right;
    width: 100%;
    float: left;
}
li {
    margin-left: 100px;
    list-style-type: circle;
}    
img {
    margin-top: 100px;
    text-align: right;
    float: left; 
}
form {
    margin-left: 120px;
    margin-top: 50px;
}
h4 {
    margin-left: 100px;
    margin-top: 200px; 
}
h2 {
    text-align: center;
    margin: 0px;
}
h3 {
    text-align: center;
}