body {
    width: 100%;
    text-align: center;
    background-color: aqua;
}
textarea {
    width: 400px;
    height: 70px;
} 
button {
    width: 410px;
    height: 50px;
}
#Autor {
    width: 400px;
    height: 20px;
}
#Tresc {
    width: 400px;
    height: 100px;
}