body{
    font-family: Arial;
}
.logo{
    background: rgb(162,117,87);
    width: 20%;
    height: 100px;
    float: left;
    width: 50%;
}
.menu{
    background: rgb(162,117,87);
    width: 40%;
    height: 100px;
    text-align: left;
    float: left;
    width: 50%;
    clear: 0;
}    
.baner,.stopka{
    background: rgb(74,45,32);
    color: white;
    text-align: center;
    padding: 30px;
    float: left;
    width: 100%;
}
.lewy,.prawy{
    background: rgb(162,117,87);
    color: white;
    width: 50%;
    height: 500px;
    float: left;
}
h1{
    letter-spacing: 10px;
}
a href {
    background: rgb(65,98,85);
    margin: 20px;
    padding: 10px;
    font-size: 150%;
    border: solid rgb(65,98,85);
    border: 1px;
}
.lewy ol li:last-child{
   text-decoration: line-through;
}