header {
    font-size: 150%;
    background-color: rgb(222, 222, 222);
    text-align: center;
    color: white;
    height: 100px;
    margin: 0;
}
.menu {
    width: 100%;
    background-color: #ffffff;
}
.srodek {
    float: left;
    width: 100%;
    height: 700px;
    background-color:#98949414;
}

body {
    background-repeat: no-repeat;
    width: 100%;
    background: rgb(255,255,255);
    height: 100vh;
    background-size: cover;
    /* overflow: hidden; */
   }
   .container {
    max-width: 1126px;
    margin: 0 auto;
}
   .table { 
       width: 100%;
       text-align: left;
   }
   .table td, .table th {
       padding: 10px;
       background: #eee;
   }
   .button { 
       padding:5px 10px;
       border:3px solid #000;
       color: #000000;
       margin: auto;
       display: block;
   }
   .order_bottom { 
       margin-top: 20px;
      }
      .textmenu {
        font-size: 18px;
        color: black;
        word-spacing: 20px;
        padding: 15px 0;
    }
      
    .obiekt1 {
        height:293px;
        width: 200px;
        float: left;
        margin: 0 10px;
        text-align: center;
        background: white;
    }
    .zdj {
        height: 144px;
        width: 172px;
        margin-top: 14px;
        text-decoration: none;
    }

    .input {
        width: 200px;
        border: none;
        text-transform: uppercase;
        height: 35px;
        font-weight: 700;
        background: #fbf3e6;
        color: #52473a;
    }
      .produkty {
        margin-top: 25px;
    }
    .pr1{
        height: 416px;
        border: #3F51B5;
        border-style: groove;
        margin-top: -40px;
        }
    .tytul{
        font-size: 44px;
        margin-top: 20px;
        font-family: sans-serif;
    }
    span.alert.alert-danger {
    padding: 10px;
    text-align: center;
    margin: 15px 0;
    display: block;
    color: #8e3131;
    background: #edcece;
}

#footer { 
        /* background: #efefef; */
    padding: 20px 0;
    margin: 15px 0 0 0;
    clear: both;
    text-align: center;
}
.cena{
    font-size: 30px;
    margin-top: -35px;
    font-family: sans-serif;
    margin-left: 63px;
}
.opis{
    height: 50px;
    width: 591px;
    float: left;
    font-size: 32px;
    font-family: sans-serif;
    margin-top: 84px;
}
.cc{
  
    border: none;
    color: #000000;
    margin-top: -35px;
    margin-left: 235px;
    font-size: 23px;
    }
        .reklama {
        font-size: 150%;
        background-color: rgb(222, 222, 222);
        text-align: center;
        color: white;
        width: 92%;
        height: 313px;
        margin: 0;
        margin-left: 49px;
    }
