body{
    font-family: Helvetica;
    margin: auto;
}
.baner-lewy{
    background-color: rgb(130,69,85);
    color: white;
    width:30%;
    height: 200px;
    text-align: center;
    float: left;
}
.baner-prawy{
    background-color: rgb(130,69,85);
    color: white;
    width:70%;
    height: 200px;
    text-align: center;
    float: left;
}
.Główny{
    background-color: rgb(240,234,226);
    padding: 120px;
}
.tabela{
    border:solid 1px rgb(130,69,85);
    color: rgb(130,69,85);
    padding: 10px;
}
td{
    border:solid 1px rgb(130,69,85);
    color: rgb(130,69,85);
    padding: 10px;
}
.lewy{
   background-color: rgb(130,69,85);
    color: white;
    width:30%;
    height: 200px;
    text-align: center;
    float: left;
}
.prawy{
    background-color: rgb(130,69,85);
    color: white;
    width:70%;
    height: 200px;
    text-align: center;
    float: left;
}
.stopka{
    background-color: rgb(240,234,226);
    padding: 120px;
}