body{
    font-family:  Helvetica;
}
.banerlewy{
    background-color: rgb(130,69,85) ;
    color: white;
    width: 30%;
    height: 200px;
    text-align: center;
    float: left;

    
}
.lewy{
    background-color: rgb(130,69,85) ;
    color: white;
    width: 30%;
    height: 200px;
    text-align: center;
    float: left;
}
.banerprawy{
    background-color: rgb(130,69,85) ;
    color: white;
    width: 70%;
    height: 200px;
    text-align: center;
    float: left;
}
.prawy{
    background-color: rgb(130,69,85) ;
    color: white;
    width: 70%;
    height: 200px;
    text-align: center;
    float: left;
}
.glowny{
    background-color: rgb(240,234,226) ;
    padding: 120px;
   
}
footer{
    background-color: rgb(240,234,226) ;
    padding: 120px;
   
}
.tabela{
    border: solid 1px rgb(130,69,85);
    padding: 10px;
}
td{
    border: solid 1px rgb(130,69,85);
    color: rgb(130,69,85);
    padding: 10px;
}