body{
    font-family: Georgia;
}

.baner{
    background-color: #824555;
    color: white;
    text-align: center;
    width: 100%;
    float: left;
    }
.panel1{
    background-color: #A26475;
    color: white;
    width: 30%;
    height: 300px;
    float: left;
    }
    .panel2{
    background-color: #A26475;
    color: white;
    width: 30%;
    height: 300px;
    float: left;
    }
    .panel3{
        background-color: #A26475;
        color: white;
        width: 40%;
        height: 300px;
        text-align: right;
        float: left;
    }
    .glowny{
        background-color: #F0EAE2;
       /* margin: 50px;*/
        float: left;
        width: 100%;

    }
    footer{
        background-color: #824555;
        color:white;
        text-align: center;
        width: 100%;
    }
    table{
    border-color: #824555;
    border: #824554;
    border-collapse: collapse;
    }
    td{
        border: 2px solid #824554;
    }
    .tekst{
        /*margin-left: 30px;
        margin-top: 30px;*/
        margin: 40px;
    }
